* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Comme", sans-serif;
}

/* header Styles */

.header {
  margin: 1em 2em;
}

.nav_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h1 {
  --tw-bg-opacity: 1;
  color: rgb(29 161 242 / var(--tw-bg-opacity)); /* sky 700 */
  text-transform: capitalize;
  font-size: 1.9em;
  cursor: pointer;
}

.hamburger .line {
  width: 32px;
  height: 3px;
  background-color: black;
  margin-bottom: 5px;
  cursor: pointer;
}

.main_menu {
  display: none;
}

/* End of the header */

/* start of hero section */

.hero_section {
  margin: 2em 2em;
}

.hero_content {
  display: flex;
  flex-direction: column-reverse;
}

.analytics figure img {
  width: 100%;
}
.hero_content .info {
  margin-top: 2em;
  margin-bottom: 2em;
}

.hero_content .info h1 {
  font-size: 3em;
  font-weight: bolder;
}

.hero_content > .info > .hero_para {
  padding: 1em 0;
  text-align: justify;
  font-size: 1.2em;
}

.info > .group_links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

.twitter_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  padding: 8px 12px;
  --tw-bg-opacity: 1;
  width: 100%;
  background-color: rgb(29 161 242 / var(--tw-bg-opacity)); /* sky 700 */
  color: white;
  font-size: 1em;
  cursor: pointer;
  border-radius: 6px;
}

.twitter_btn > span {
  padding-left: 0.5em;
}

.group_links > a {
  text-align: center;
  margin-top: 1em;
  text-decoration: none;
  cursor: pointer;
  font-size: 1em;
}

.group_links > a:hover {
  --tw-bg-opacity:1;
  border-bottom: 1px solid rgb(29 161 242/ var(--tw-bg-opacity));
}

.users_avtar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1.5em;
  padding-bottom: 1.5em;
}

.hero_join p {
  font-size: 1.1em;
  padding-bottom: 1em;
}

.hero_join p span {
  --tw-bg-opacity: 1;
  color: rgb(29 161 242 / var(--tw-bg-opacity)); /* sky 700 */
}

/* Responsive layout */
@media only screen and (min-width: 768px) {
  .header {
    margin: 1em 5em;
  }

  .hero_section {
    margin: 0 5em;
  }

  .hero_content .info h1 {
    font-size: 3.5em;
  }

  .hero_content .analytics {
    margin-left: 4em;
  }
}

@media only screen and (min-width: 810px) {
  .hamburger {
    display: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main_menu ul {
    display: flex;
    list-style: none;
  }
  .main_menu ul li {
    padding: 6px 8px;
    font-size: 1.2em;
    text-transform: capitalize;
    font-weight: 500;
    cursor: pointer;
  }

  .main_menu > .btn_box {
    margin-left: 1em;
  }
  .hero_content .analytics {
    margin-left: 0;
  }

  .info > .group_links {
    flex-direction: row;
  }

  .info .group_links > a{
    margin-left: 1em;
    margin-top: 0;
  }

  .twitter_btn{
    width: fit-content;
  }
  #hero_image {
    content: url("../Assets/HeroTab.png");
    width: 100%;
  }
}

@media only screen and (min-width: 1120px) {
  .hero_content .analytics {
    margin-left: 5em;
  }
  .hero_content {
    flex-direction: row;
  }

  #hero_image {
    content: url("../Assets/HeroDesktop.png");
    width: 100%;
    height: 100%;
  }
}
